<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="page">

  <h1>Liste des Agences:</h1>
  <button class="Btn" (click)="add()">Add</button>

  <div *ngIf="agencies.length > 0">

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Bank </th>
          <th>Agency Name</th>
          <th>Agency Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agency of agencies; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ agency.bank.name}}</td>
          <td>{{ agency.name }}</td>
          <td>{{ agency.address }}</td>
          <td>
            <div class="buttns">
              <button class="Btn" (click)="edit(agency.codeAgence)">Edit
                <svg class="svg" viewBox="0 0 512 512">

                </svg>
              </button>
              <button class="Btn2" (click)="deleteAgency(agency.codeAgence)">Delete
                <svg class="svg2" viewBox="0 0 24 24">

                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
